{{#with navigation}}
    <div class="nav">
{{#each links}}
  <div class="nav-item"></div>
      <a href="{{href}}" class="nav-link">{{text}}</a>
{{/each}}
    </div>
    {{/with}} 
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
{{#each breadcrumb}}
     <li class="breadcrumb-item"><a href={{url}}>{{name}}</a></li>
  {{/each}}
  </ol>
</nav>
<h2 class="title">{{header}}</h2>
<br>
    <div class="row">
    <div class="col-3">
<select class="form-select">
  <option selected>{{sortBlock.[0].placeholder}}</option>
  <option value={{sortBlock.[0].options.[0].value}}>{{sortBlock.[0].options.[0].text}}</option>
  <option value={{sortBlock.[0].options.[1].value}}>{{sortBlock.[0].options.[1].text}}</option>
</select>
</div>
<div class="col-3">
<select class="form-select">
  <option selected>{{sortBlock.[1].placeholder}}</option>
  <option value={{sortBlock.[1].options.[0].value}}>{{sortBlock.[1].options.[0].text}}</option>
  <option value={{sortBlock.[1].options.[1].value}}>{{sortBlock.[1].options.[1].text}}</option>
</select>
</div>
<div class="col-3">
<select class="form-select">
  <option selected>{{sortBlock.[2].placeholder}}</option>
  <option value={{sortBlock.[2].options.[0].value}}>{{sortBlock.[2].options.[0].text}}</option>
  <option value={{sortBlock.[2].options.[1].value}}>{{sortBlock.[2].options.[1].text}}</option>
</select>
</div>
</div>
<br>
{{>catalogItem}}
<br>
{{#with service}}
<div class="card text-center text-bg-success mb-3">
  <h2 class="card-header">{{title}}</h2>
  <div class="card-body ">
    <div class="card-title">{{description}}</div>
    {{#each buttons}}
   <a href="{{link}}" class="btn btn-primary">{{text}}</a>
  {{/each}}
  </div>
</div>
{{/with}}
<br>
<div class="nav">
  {{#each footer}}
  {{#each this}}
  <div class="nav-item col-2 mx-2">
    <div class="nav-link"><a href="{{link}}" class="btn-link">{{text}}</a></div>
 </div>
  {{/each}}
  {{/each}}
</div>